#home {
  h2 {
    color: #e0e3e7;
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
  }

  p {
    text-align: center;
    margin-top: 20px;

    code {
      background-color: rgb(26, 30.5, 40.25);
      padding: 6px;
      border-radius: 5px;
      letter-spacing: 1.1px;
      color: #8891a4;
    }
  }

  .random-css-loader {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .random-loader-case {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 200px;
        background-color: #eee;
        border: none;
        margin-top: 20px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;

        &.bg-3d {
          background-color: #1b2832;
        }

        &:hover {
            .random-copy-btn {
                opacity: 1;
            }
        }

        .random-copy-btn {
            cursor: pointer;
            position: absolute;
            z-index: 9;
            padding: 13px;
            font-size: 15px;
            background-color: #017fc0;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-weight: 500;
            opacity: 0;
        }
    }
  }

  .ad1-block {
    width: 100%;
    padding: 10px;
  }
}



@media screen and (max-width: 500px) {
  #home {
    padding: 10px 20px;

    h2 {
      margin-top: 20px;
    }

    .random-css-loader {
      margin-top: 30px;
      p {
        text-align: center;
        &#sss {
          margin-top: 0 !important;
        }
      }
    }
  }
}